<div class="product-cards">
  <div class="card">
    <input type="radio" name="product" id="product1" checked />
    <label for="product1">
      <img
        src="https://www.harley-davidson.com/content/dam/h-d/images/promo-images/2023/hero-card/2-up/womens-new-arrivals-hc-2-up.jpg?impolicy=myresize&rw=700"
        alt="Product 1"
      />
      <h3>Product 1</h3>
      <p>Description of Product 1</p><br>
      <input type="checkbox" />For Men <input type="checkbox" />For Women <br>
      <input type="button" value=" BUY NOW">
    </label>
  </div>
  <div class="card">
    <input type="radio" name="product" id="product2" />
    <label for="product2">
      <img src="product2.jpg" alt="Product 2" />
      <h3>Product 2</h3>
      <p>Description of Product 2</p>
    </label>
  </div>
  <div class="card">
    <input type="radio" name="product" id="product3" />
    <label for="product3">
      <img src="product3.jpg" alt="Product 3" />
      <h3>Product 3</h3>
      <p>Description of Product 3</p>
    </label>
  </div>
</div>
