<div class="product-cards">
  <div class="card">
    <input type="radio" name="product" id="product1" checked />
    <label for="product1">
      <img
        src="https://www.harley-davidson.com/content/dam/h-d/images/promo-images/2023/hero-card/2-up/womens-new-arrivals-hc-2-up.jpg?impolicy=myresize&rw=700"
        alt="Product 1"
      />
      <h3>Product 1</h3>
      <p>Description of Product 1</p><br>
      <input type="checkbox" />For Men <input type="checkbox" />For Women <br>
      <button><a routerLink="/Checkout/:check"><i class="fa-solid fa-1.5x fa-cart-shopping"></i>Buy Now</a></button>
    </label>
  </div>
  <div class="card">
    <input type="radio" name="product" id="product1" checked />
    <label for="product1">
      <img
        src="https://www.harley-davidson.com/content/dam/h-d/images/promo-images/2023/hero-card/2-up/womens-new-arrivals-hc-2-up.jpg?impolicy=myresize&rw=700"
        alt="Product 1"
      />
      <h3>Product 1</h3>
      <p>Description of Product 1</p><br>
      <input type="checkbox" />For Men <input type="checkbox" />For Women <br>
      <button><a routerLink="/Checkout/:check"><i class="fa-solid fa-1.5x fa-cart-shopping"></i>Buy Now</a></button>
    </label>
  </div>
  <div class="card">
    <input type="radio" name="product" id="product1" checked />
    <label for="product1">
      <img
        src="https://www.harley-davidson.com/content/dam/h-d/images/promo-images/2023/hero-card/2-up/womens-new-arrivals-hc-2-up.jpg?impolicy=myresize&rw=700"
        alt="Product 1"
      />
      <h3>Product 1</h3>
      <p>Description of Product 1</p><br>
      <input type="checkbox" />For Men <input type="checkbox" />For Women <br>
      <button><a routerLink="/Checkout/:check"><i class="fa-solid fa-1.5x fa-cart-shopping"></i>Buy Now</a></button>
    </label>
  </div>
</div>
<router-outlet></router-outlet>
