<!-- <form class="forget"  [formGroup]="LoginForm">

    <img src="../../assets/images/1200px-Harley-Davidson_logo.svg.png" class="logo">
    <h2>Forgot Password</h2><input
    type="text"
    placeholder="Email id"
    id="username"
    formControlName="emailvalue" [name]="emailvalue"
    pattern="^[0-9a-zA-Z]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$"
   #emailvalue /><br />
  <div *ngIf="LoginForm.controls['emailvalue'].dirty" class="alert">
    <p *ngIf="LoginForm.controls['emailvalue'].errors?.['required']">
      Email should not be Empty
    </p>
    <p *ngIf="LoginForm.controls['emailvalue'].errors?.['pattern']">
      Enter a valid Email
    </p>
  </div>
  <button (click)="forgotPassword(LoginForm.value)">reset</button>
  <input type="submit"  value="Reset Password" />
    <div class="links">
      <a routerLink="/login">Log In</a>
    </div>
  </form> -->
  <br><br><br>
  <br>
<form class="forget" [formGroup]="update">
  <img src="../../assets/images/1200px-Harley-Davidson_logo.svg.png" class="logo">
    <h2>Forgot Password</h2>
<input type="text"  formControlName="email" [name]="email" id="" placeholder="email" >
<input type="password" formControlName="password" [name]="password" placeholder="newpass">
<button (click)="updatePassword(update.value)">reset</button>
<div class="links">
  <a routerLink="/login">Log In</a>
</div>
</form>
